<!DOCTYPE html>
<html lang="en" xmlns:th="httP//www.thymeleaf.org">
<head th:fragment="common-header">
  <title>Users webAPI</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
  <link type="text/css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen"/>
  <!-- Custom styles for this template -->
  <style>
  </style>
</head>
<div th:fragment="before-body-scripts">
  <script th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
  <script th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</div>
</html>


<script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="js/libs/jwt-decode.min.js"></script>
<script src="js/client.js"></script>