<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>
<body>

<div th:replace="common/navbar :: common-navbar"></div>
<div class="container">


  <h1 th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}"></h1>
    <h1 th:text="|${httpStatus} |">404</h1>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="index.html" th:href="@{/index.html}">Back to Home Page</a>

  </div>

<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>